<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="So_Many_Enchants"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=REGISTRIES &quot;-Dnet.minecraftforge.gradle.GradleStart.srg.srg-mcp=C:\Users\Maximus Widmaier\Coding\So Many Enchants\So-Many-Enchants-1_16\So_Many_Enchants\build\createSrgToMcp\output.srg&quot; -Dmixin.env.remapRefMap=true &quot;-Dmixin.env.refMapRemappingFile=C:\Users\Maximus Widmaier\Coding\So Many Enchants\So-Many-Enchants-1_16\So_Many_Enchants\build\createSrgToMcp\output.srg&quot; -Dforge.enabledGameTestNamespaces=so_many_enchants"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--mixin.config mixins.so_many_enchants.json"/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Maximus Widmaier\Coding\So Many Enchants\So-Many-Enchants-1_16\So_Many_Enchants\run"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MOD_CLASSES" value="so_many_enchants%%C:\Users\Maximus Widmaier\Coding\So Many Enchants\So-Many-Enchants-1_16\So_Many_Enchants\bin\main;so_many_enchants%%C:\Users\Maximus Widmaier\Coding\So Many Enchants\So-Many-Enchants-1_16\So_Many_Enchants\bin\main"/>
  </mapAttribute>
</launchConfiguration>
